@page "/todo"

@using global::TodoList.App
@using global::TodoList.DTO
@inject LocalStorageAccessor LocalStorageAccessor // probeer-le d'una instancia d'una classe
@inject HttpClient Http

<PageTitle>Todo</PageTitle>

<h1>Todo</h1>
@foreach(TodoTask item in tasks){
    <p><input type="checkbox" @bind="item.IsComplete" @onclick = "SaveAsync" /> @item</p>
}
<input type="text" @bind="TaskText" />
<button class="btn btn-primary" @onclick="AddtaskAsync">Afegir</button>

@code {
    private List<TodoTask> tasks = new();
    private string? TaskText{get; set;}

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if(firstRender) {
            tasks = await Http.GetFromJsonAsync<List<TodoTask>>("https://localhost:7286/api/TodoItems");
            StateHasChanged();
        }
    }

    private async Task SaveAsync() {
        // ESTA FEO NO HACER
        await Task.Delay(1);
        await LocalStorageAccessor.SetValueAsync<List<TodoTask>>("todos", tasks);
    }
    private async Task AddtaskAsync() {
        tasks.Add(new TodoTask {Name = TaskText});
        await LocalStorageAccessor.SetValueAsync<List<TodoTask>>("todos", tasks);
        TaskText = "";
    }
}
